/*body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1em;
}

.title {
    text-align: center;
}
*/
body {
    background-color: #c2d5db;
    color: #131925;
    /*http://colorpalettes.net/color-palette-2968/*/
}
.logo img {
    height: 4em;
}
.current-page {
    background-color: yellow;
}
