/* Navbar stuff */
.logo img {
    height: 2.5em;
    border-radius: 15%;
}

div.logo a {
    line-height: 0;
    display: block;
}

header {
    font-size: 1.2em;
    font-weight: bold;
    background: #2B2B2B;
}

h1.title {
    margin: 0;
    /*color: #FFE658;*/
    color: #F6F6F6;
}

.title, .nav, .logo {
    display: inline-block;
    vertical-align: middle;
}

.title {
    width: 35%;
}

.nav {
    width: 58%;
    text-align: right;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: inline;
    margin: 3px;
}

.nav ul li a {
    color: #F6F6F6;
    text-decoration: none;
    font-size: 1em;
}

.nav ul li a:hover {
    color: #FFE658;
    font-size: 1.2em;
}

#current-page {
    background-color: #005B96;
}

/* Rest of the document */
body {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    background-color: #F6F6F6;
    color: #2B2B2B;
}

h1, h2 {
    font-family: "Nunito", sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.mains img {
    width: 25%;
}

.cubetoaster img {
    width: 25%;
}

.cubing {
    background-image: url("../img/rubiks_background.jpg");
}

div a {
    color: #2A2A8A;
    text-decoration: none;
}

div a:hover {
    font-size: 1.2em;
}

.project, .guide, .main-cube {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    vertical-align: top;
    padding: 10px;
}

.main-cube {
    width: 45%;
}

.guide h3 {
    margin: 0;
}

.guide {
    background: #2B2B2B;
    background-color: #F6F6F6;
    background-clip: content-box;
}


/* iPads */
@media only screen and (min-width: 768px) {
    .nav ul li {
        padding: 0 20px;
    }

    .project, .guide, .main-cube {
        width: 32%;
    }
}

/* desktops and laptops */
@media only screen and (min-width: 1224px) {
    .nav ul li {
        padding: 0 5%;
    }

    .project, .guide, .main-cube {
        width: 24%;
    }
}

/* phones */
@media only screen and (max-width: 768px) {
    .nav ul li a {
        display: block;
    }
    
    .nav {
        width: 100%;
        text-align: center;
    }
    
    .logo {
        display: block;
        text-align: center;
    }

    h1.title {
        text-align: center;
        width: 100%;
    }
}
